body {
	background-color: rgb(206, 212, 255);
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: fit-content;
	padding: 2rem;
	border-radius: 0.2rem;
}

.action-button {
	display: flex;
}
.action-button a,
.action-button select {
	margin-right: 0.3rem;
}
.tidak-mengisi {
	color: red;
}
